{% extends 'admin.html.twig' %}

{% block headline %}Admin{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-12">
        <div class="info-box">
            <h4>Add Category</h4>
            <br>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form.exerpt) }}
            </div>
            <div class="form-group">
                {{ form_row(form.save) }}
            </div>
            {{ form_end(form) }}
            <br>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-12">
        <div class="info-box">
            <h4>All Categories</h4>
            <br>
            <table class="table table-sm">
                <thead>
                    <th>Name</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>
                            <h5><b>{{ category.name }}</b></h5>
                            <p>{{ category.exerpt }}</p>
                        </td>
                        <td class="text-right">
                            <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn"><i class="fas fa-cog"></i></a>
                            <a href="#" data-url="/admin/category/delete/" data-id="{{ category.id }}" class="btn btn-delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}