{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-md-8 col-12">

        <h3>{{ title }}</h3>
        <hr>
        <br>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.name) }}
        </div>

        <div class="form-group">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    
    </div>
</div>

{% endblock %}
