{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}


{% block body %}
<h2>{{ headline }}</h2>
<hr>
<br><br>

{% set maxPosts = 5 %}

<div class="row justify-content-center">
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <h1>{{ posts | length }} <small>Posts</small></h1>
            <hr>
            <p class="text-dark"><b>Recent posts</b></p>
            {% set break = false %}
            {% for post in posts if not break %}
                <a target="_blank" href="{{ path('post_single', {'slug': post.slug}) }}">{{ post.title | slice(0, 50) }}... </a>&mdash; {{ post.user.name }}<br>
                {{ post.dateCreated | time_ago }}<br><br>
                {% if loop.index == maxPosts %}
                    {% set break = true %}
                    {% if posts | length > maxPosts %}
                        {# <br> #}
                        <a href="{{ path('admin_posts') }}"><b>&raquo; View all posts</b></a>
                        <br>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <a href="#"><b>+ Add post</b></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <h1>{{ comments | length}} <small>Comments</small></h1>
            <hr>
            <p class="text-dark"><b>Recent comments</b></p>
            {% if comments %}
                {% set break = false %}
                {% for comment in comments if not break %}
                    {{ comment.user.name }} <i>commented on</i> <a target="_blank" href="{{ path('post_single', {'slug': comment.post.slug}) }}#comments">{{ comment.post.title | slice(0, 25) }}...</a><br>
                    {{ comment.dateCreated | time_ago }} <br><br>
                    {% if loop.index == maxPosts %}
                        {% set break = true %}
                        {% if comments | length > maxPosts %}
                            <br>
                            <a href="#"><b>&raquo; View all posts</b></a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No comments yet</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
            <h1>{{ users | length }} <small>Users</small></h1>
            <hr>
            <p class="text-dark"><b>Recently registered users</b></p>
            {% set break = false %}
            {% for user in users if not break %}
                <a target="_blank" href="#">{{ user.name }}</a><br>
                {% if loop.index == maxPosts %}
                    {% set break = true %}
                    {% if users | length > maxPosts %}
                        <br>
                        <a href="#"><b>&raquo; View all posts</b></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}