{% extends 'admin.html.twig' %}

{% block body %}

<style>
    td {
        padding-top: 25px !important;
        padding-bottom: 10px !important;
    }
</style>

<div class="row">
    <div class="col-md-12 col-12">
        <div class="info-box">
        <h1>{{ headline }}</h1>
        <div class="text-right">
            <a href="{{ path('post_new') }}" class="btn btn-blue"><i class="fas fa-plus"></i> New Post</a>
        </div>
        <br>
            <table class="table">
                <thead>
                    <th>Image</th>
                    <th>Title</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        {# <td>{{ loop.index }}</td> #}
                        <td style="min-width: 100px; max-width: 100px; padding-right: 10px">
                            <div class="img post-thumbnail" style="border-radius: 15px; max-height: 80px">
                                {% if post.cover %}<img src="{{ asset('/uploads/images/' ~ post.cover) }}" alt="{{ post.title }}">{% endif %}
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('archive_cat', {'category': post.category.name}) }}"><b>{{ post.category.name }}</b></a> / {{ post.dateCreated | time_ago }}
                            <h5><b>{{ post.title }}</b></h5>
                            <p class="faded lead">{{ post.content | striptags | slice(0, 110) }}...</p>
                        </td>
                        <td class="text-right">
                            <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn"><i class="fas fa-cog"></i></a>
                            <a href="{{ path('post_single', {'slug': post.slug}) }}" class="btn"><i class="fas fa-external-link-alt"></i></a>
                            <a href="#" data-id="{{ post.id }}" data-url="/post/delete/" class="btn btn-delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}