{% extends 'base.html.twig' %}

{# {% block title %}Hello {{ controller_name }}!{% endblock %} #}

{% block body %}
<div class="row">
    {% for post in posts %}
    {% if loop.index == 1 %}
    <div class="col-md-12 col-12">
        <a href="{{ path('post_single', {'slug': post.slug}) }}">
            <div class="post">
                <div class="row align-items-center">
                    <div class="col-md-6 col-12">
                        <div style="height: 300px; width: 100%;" class="img thumbnail">
                            <img src="{{ asset('uploads/images/' ~ post.cover) }}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <h4>{{ post.title }}</h4>
                        <p class="faded">
                            {{ post.content | striptags | slice(0, 200) | replace({'&rsquo;': '\'', '&nbsp;': ' '})
                            }}... <br>
                        </p>
                        <span class="faded">
                            <small>
                                By {{ post.user.name }} | {{ post.dateCreated | time_ago }} | {{ post.comments | length
                                }}
                                comment{% if post.comments | length != 1 %}s{% endif %}
                                | {% for category in post.category %}
                                {{ category.name }}{% if loop.index != post.category | length %},{% endif %}
                                {% endfor %}
                            </small>
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% else %}
    <div class="col-md-4 col-12">
        <a href="{{ path('post_single', {'slug': post.slug}) }}">
            <div class="post">
                <div style="height: 200px; width: 100%;" class="img thumbnail">
                    <img src="{{ asset('uploads/images/' ~ post.cover) }}" alt="">
                </div>
                <br>
                <h4>{{ post.title }}</h4>
                <span class="faded">
                    <small>
                        {{ post.dateCreated | time_ago }} | {{ post.comments | length }}
                        comment{% if post.comments | length != 1 %}s{% endif %}
                        | {% for category in post.category %}
                        {{ category.name }}{% if loop.index != post.category | length %},{% endif %}
                        {% endfor %}
                    </small><br>
                </span>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}