{% extends 'base.html.twig' %}

{# {% block title %}Hello {{ controller_name }}!{% endblock %} #}

{% block body %}
<div class="row">
    {% if posts | length > 0 %}
        {% for post in posts %}
            {% if loop.index == 1 %}
                <div class="text-center col-md-12">
                    <h1 class="text-center text-capitalize">{{ tag ? tag : category }}</h1>
                    {% if not tag and post.category.exerpt %}
                        <p>{{ post.category.exerpt }}</p>
                    {% endif %}
                    <hr>
                </div>
            {% endif %}
            <div class="col-md-4 col-12"> 
                <a href="{{ path('post_single', {'slug': post.slug}) }}">
                    <div class="post">
                        <div style="height: 200px; width: 100%;" class="img thumbnail">
                            <img src="{{ asset('uploads/images/' ~ post.cover) }}" alt="{{ post.title }}">
                        </div>
                        <br>
                        <h4>{{ post.title }}</h4>
                        <p class="faded">{{ post.content | excerpt(10, '...') }}</p>
                        <span class="faded">
                            <small>
                                {{ post.dateCreated | time_ago }} / {{ post.comments | length }}
                                comment{% if post.comments | length != 1 %}s{% endif %}
                                / {{ post.category.name }}
                            </small><br>
                        </span>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="col-md-12 col-12 text-center">
            <div class="d-inline-block navigation text-center">  
                {{ knp_pagination_render(posts) }}
            </div>
        </div>
    {% else %}
        <div class="col-md-12 text-center">
            <img src="{{ asset('icons/folder.svg') }}" style="width: 50px; opacity: .35"><br><br>
            <h4>No posts found in {{ category }}</h4>        
        </div>
    {% endif %}
</div>
{% endblock %}