{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}

    {# <div class="row">
        <div class="col-md-12 col-12">
            {{ form_start(form) }}
            <div class="post card">
                <div class="row align-items-center">
                    <div class="col-md-10 col-12">
                        {{ form_row(form.query) }}
                    </div>
                    <div class="col-md-2 col-12">
                        {{ form_row(form.search) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div> #}    

    <div class="row">
        {% if posts %}
            {% set break = false %}
            {% for post in posts if not break %}
                <div class="col-md-6 col-12">
                    <div class="post card">
                        <a href="{{ path('post_single', {'slug': post.slug}) }}">

                            {% if post.cover %}
                                <div class="img post-thumbnail">
                                    <img src="{{ asset('uploads/images/' ~ post.cover) }}" alt="{{ post.title }}">
                                </div>
                            {% endif %}
                            <div class="faded">
                                <small><b>{{ post.category.name }}</b> / {{ post.dateCreated | time_ago }}</small>
                            </div><br>
                            <h3><b class="text-capitalize">{{ post.title }}</b></h3>
                            <p>{{ post.content | excerpt(25, '...') }}</p>
                        </a>
                    </div>
                </div>
                {% if loop.index == 2 %}
                    {% set break = true %}
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col-md-12 col-12">
                <p class="lead text-center">No posts found :(</p>
            </div>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-9 col-12">
            {% if posts | length > 2 %}
            {% set break = false %}
            {% set limit = 5 %}
                {% for post in posts if not break %}
                    {% if loop.index > 2 %}
                        <div class="row post">
                            <div class="col-md-5 col-12">
                                <a class="text-dark" href="{{ path('post_single', {'slug': post.slug}) }}">
                                    {% if post.cover %}
                                        <div style="height: 200px; width: 100%;" class="img thumbnail">
                                            <img src="{{ asset('uploads/images/') ~ post.cover }}"
                                                 alt="{{ post.title }}">
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="col-md-7 col-12">
                                <h4>{{ post.title }}</h4>
                                <p>{{ post.content | excerpt(21, '...') }}</p>
                                </a>
                                {# <br> #}
                                <small class="faded">
                                    <b>{{ post.category.name }}</b> / {{ post.dateCreated | time_ago }} 
                                </small>
                            </div>
                        </div>
                        {# {% if loop.index > 5 %}
                            {% set break = true %}
                            <a href="#" class="d-block btn btn-lg btn-secondary">LOAD MORE</a>
                        {% endif %} #}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {# <div class="col-md-3 col-12"> #}
            {# <div class="post widget widget-right">
                <h5>Tags</h5>
                <hr>
                {% for tag in tags %}
                    <a href="#" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div> #}
        {# <div class="col-md-3 col-12">
            {% if popular and popular | length > 5 %}
                <div class="post">
                    <h5>Popular tags</h5>
                </div>
            {% endif %} #}

            {# {% if popular %}
            <div class="post dark">
                <p>Latest comments</p>
                <hr>
                <ul class="list-unstyled">
                    {% for c in comments %}
                    <li>
                        <a href="{{ path('post_single', {'slug': c.post.slug}) }}#comments">
                            {{ c.user.name }} <i class="faded">commented on</i> {{ c.post.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>

    </div> #}

{% endblock %}