{% extends 'base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="post">
                {% if (post.cover) %}
                <div class="img cover-img">
                    <img src="{{ asset('uploads/images/' ~ post.cover) }}" alt="{{ post.title }}">
                </div>
                {% endif %}
                <br>
                <h2>{{ post.title }}</h2>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-6">
                        <i class="fas fa-calendar-alt"></i> {{ post.dateCreated | date('d-m-Y') }}
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fas fa-clock"></i> {{ post.dateCreated | date('H:i') }}
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fas fa-user"></i> {{ post.user.name }}
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fas fa-tag"></i> {{ post.category.name }}
                    </div>
                </div>
                <hr>
                <br>
                <div class="content">
                    <p>{{ post.content | raw | nl2br }}</p>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-4 col-12">
            {% if is_granted('ROLE_ADMIN') and post.getUser().getId() == app.user.id %}
                <div class="post">
                    <h5><b>Admin</b></h5>
                    <hr>
                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn text-dark"><i class="fas fa-cog text-warning"></i> Edit</a><br>
                    <a href="#" data-id="{{ post.id }}" class="btn text-dark btn-delete"><i class="fas fa-trash-alt text-danger"></i> Delete</a>
                </div>
            {% endif %}

            {% if posts %}
            <div class="post">
                <h5><b>Latest Posts</b></h5>
                <hr>
                <ul class="list-unstyled">
                    {% for p in posts %}
                    <li class="mb-3">
                        <a href="{{ path('post_single', {'id': p.id}) }}">
                            {{ p.title }} <br><small><i>{{ p.dateCreated | date('d/m/Y') }}</i></small>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}