{% extends 'base_single.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="container-fluid cover-img" style="background-image: url('{{ asset('uploads/images/' ~ post.cover) }}')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10 col-sm-12 col-12">
                <h1 class="display-4">{{ post.title }}</h1>
                <br>
                <p title="{{ post.dateCreated | date('d/m/Y H:i') }}" class="faded">{{ post.dateCreated | time_ago }}</p>
                <p class="faded">By {{ post.user.name }} in {{ post.category.name }}</p>
                <a href="#comments" class="text-white">
                    <p class="faded">
                    {% if post.comments | length > 0 %}
                        {{ post.comments | length }} comment{% if post.comments | length > 1 %}s{% endif %} 
                    {% endif %}
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="post">
                <br><br>
                <div class="content">
                    {{ post.content | raw }}
                </div>
                <br>
            </div>
            {# END POST CONTENT #}

            {# COMMENTS SECTION #}
            <div class="post" id="comments">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                {{ form_start(comment_form) }}
                {{ form_widget(comment_form) }}
                {{ form_end(comment_form) }}
                <br>
                <hr>
                <br>
                {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm">Login to leave a comment</a><br><br>
                <hr>
                {% endif %}

                <h4>{{ comments | length }} Comment{% if comments | length > 1 or comments | length == 0 %}s{%
                    endif %}</h4>
                {% if comments | length > 0 %}
                {% for comment in comments %}
                <div class="comment">
                    <h5>{{ comment.user.name }}</h5>
                    <p>{{ comment.comment | nl2br }}</p>
                    <small><i>&mdash; {{ comment.dateCreated | time_ago }}</i></small>
                </div>
                {% endfor %}
                {% else %}
                <p class="faded">Be the first to comment</p>
                {% endif %}
            </div>
            {# END COMMENTS SECTION #}
        </div>

        {# SIDEBAR #}
        <div class="col-md-4 col-12">
            <br><br>
            {% if is_granted('ROLE_ADMIN') and post.getUser().getId() == app.user.id %}
            <div class="post dark">
                <p>Admin</p>
                <hr>
                <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn text-dark"><i class="fas fa-cog text-dark"></i>
                    Edit</a><br>
                <a href="#" data-url="/post/delete/" data-id="{{ post.id }}" class="btn text-dark btn-delete"><i class="fas fa-trash-alt text-dark"></i>
                    Delete</a>
                <hr>
                <p class="lead">&nbsp;&nbsp;{{ post.viewCount }} Views</p>
                <p class="lead">&nbsp;&nbsp;{{ post.comments | length }} Comments</p>
            </div>
            {% endif %}

            {% if posts %}
            <div class="post dark">
                <p>Other Posts</p>
                <ul class="list-unstyled">
                    {% for p in posts %}
                    <li class="mb-3">
                        <a href="{{ path('post_single', {'slug': p.slug}) }}">
                            {{ p.title }} <br><small><i>{{ p.dateCreated | time_ago }}</i></small>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {# END SIDEBAR #}

    </div>
</div>
{% endblock %}