{% extends 'base.html.twig' %}


{% block body %}
<div class="row justify-content-center">
    <div class="col-md-12 col-12">
        <div class="post">
            <h4>{{ headline }}</h4>
            <hr>
            {{ form_start(form) }}
            {{ form_row(form.cover) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}