{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12 col-12">
        {{ form_start(form) }}
            <div class="row align-items-center">
                <div class="col-md-10 col-12">
                    {{ form_row(form.query) }}        
                </div>
                <div class="col-md-2 col-12">
                    {{ form_row(form.search) }}                        
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
<br><br>
<div class="row align-items-center">
    {% if posts %}
        {% for post in posts %}
            <div class="col-md-4 col-12">
                <div class="post card">
                    <a href="{{ path('post_single', {'id': post.id}) }}">
                        <h3><b>{{ post.title }}</b></h3>
                        <br>
                        <p>{{ post.content | slice(0, 115) }}... <br><i>[Read More]</i></p>
                        <span class="badge badge-{{ post.category.labelName }}">{{ post.category.name }}</span><br><br>
                        <small>&mdash; <i>{{ post.user.name }}</i> on <i>{{ post.dateCreated|date('d-m-Y H:i') }}</i></small>
                    </a>
                    {% if is_granted('ROLE_ADMIN') and post.user.id == app.user.id %}
                    <hr>
                    <div class="text-right">
                        <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-sm btn-warning"><i class="fas fa-cog"></i> Edit</a>
                        <a href="#" data-id="{{ post.id }}" class="btn btn-sm btn-danger btn-delete"><i class="fas fa-trash-alt"></i> Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12 col-12">
            <p class="lead text-center">No posts found :(</p>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}