{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}

{# <div class="row">
    <div class="col-md-12 col-12">
        {{ form_start(form) }}
        <div class="post card">
            <div class="row align-items-center">
                <div class="col-md-10 col-12">
                    {{ form_row(form.query) }}        
                </div>
                <div class="col-md-2 col-12">
                    {{ form_row(form.search) }}                        
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div> #}
<div class="row">
    {% if posts %}
        {% for post in posts %}
            <div class="col-md-6 col-12">
                <div class="post card">
                    <a href="{{ path('post_single', {'id': post.id}) }}">
                    
                        {% if post.cover %}
                        <div class="img post-thumbnail">
                            <img src="{{ asset('uploads/images/' ~ post.cover) }}" alt="{{ post.title }}">
                        </div>
                        {% endif %}

                        <h3><b>{{ post.title }}</b></h3>
                        <p class="faded">&mdash; {{ post.category.name }}</p>
                        <p>{{ post.content | slice(0, 115) }}... <br><i>[Read More]</i></p>
                        <p class="faded"><small>{{ post.dateCreated|date('d-m-Y H:i') }}</small></p>
                    </a>
                    <hr>
                    <div class="text-right">
                        {# <a href="{{ path('post_single', {'id': post.id}) }}#comments"><p class="faded float-left ">{{ post.comments | length }} Comment(s)</p></a>
                        <p class="faded float-right">{{ post.category.name }}</p><br>                    #}
                        {% if is_granted('ROLE_ADMIN') and post.user.id == app.user.id %}
                        <hr>
                            <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-sm btn-warning"><i class="fas fa-cog"></i> Edit</a>
                            <a href="#" data-id="{{ post.id }}" class="btn btn-sm btn-danger btn-delete"><i class="fas fa-trash-alt"></i> Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12 col-12">
            <p class="lead text-center">No posts found :(</p>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}