{% extends 'base.html.twig' %}

{% block title %}{{ headline }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-12 col-12">
        <div class="post">
            <h4>{{ headline }}</h4>
            <hr>
            {{ form_start(form) }}

            {% if post is defined and post.cover %}
            <div class="text-right">
                Current image<br>
                <div class="img thumbnail float-right">
                    <img src="{{ asset('uploads/images/' ~ cover_img) }}" alt="{{ post.title }}">
                </div>
            <br><br>
            </div>
            {% endif %}

            {{ form_row(form.cover) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}