{% extends 'admin.html.twig' %}

{% block title %}{{ headline }}{% endblock %}

{% block stylesheets %}
<script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-8 col-12">
        <div class="post">
            <h3>{{ headline }}</h3>
            <br>
            <br>

            <div class="form-group">
                {{ form_row(form.title) }}
            </div>

            <div class="form-group">
                {{ form_row(form.content) }}
            </div>
        </div>
    </div>

    <div class="col-md-4 col-12">
        <br>
        <br>
        <br>
        <br>

        <div class="form-group">
            {{ form_row(form.cover) }}
        </div>

        {% if post is defined and post.cover %}
        <div class="form-group">
            Current image<br>
            <div class="img post-thumbnail">
                <img src="{{ asset('uploads/images/' ~ cover_img) }}" alt="{{ post.title }}">
            </div>
        </div>
        <div class="form-group">
            {{ form_widget(form.delete_cover) }} {{ form_label(form.delete_cover) }}
        </div>
        {% else %}
        {{ form_widget(form.delete_cover, {'attr': { 'class': 'd-hidden' }}) }}
        {% endif %}
        <hr>
        <div class="form-group text-right">
            {{ form_widget(form.save) }}

            {% if post is defined %}
            <a href="{{ path('post_single', {'slug': post.slug}) }}" target="_blank" class="btn btn-primary">View
                post</a>
            {% endif %}

            <br>
            <div class="form-group">
                {{ form_row(form.category) }}
            </div>

        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}


{% block javascripts %}
<script>
    CKEDITOR.replace('post_form_content', {
        height: 500
    });
</script>
{% endblock %}