{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-12">
            {# POST CONTENT #}
            <div class="post">
                {% if (post.cover) %}
                <div class="img cover-img">
                    <img src="{{ asset('uploads/images/' ~ post.cover) }}" alt="{{ post.title }}">
                </div>
                {% endif %}
                <br>
                <h2>{{ post.title }}</h2>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-6">
                        <i class="fas fa-calendar-alt"></i> {{ post.dateCreated | date('d-m-Y') }}
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fas fa-clock"></i> {{ post.dateCreated | date('H:i') }}
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fas fa-user"></i> {{ post.user.name }}
                    </div>
                    <div class="col-md-3 col-6">
                        <i class="fas fa-tag"></i> {{ post.category.name }}
                    </div>
                </div>
                <hr>
                <br>
                <div class="content">
                    <p>{{ post.content | raw | nl2br }}</p>
                </div>
                <br>
            </div>
            {# END POST CONTENT #}

            <div class="post">
                <h4>About the author</h4>
                <h5>{{ post.user.name }}</h5>
            </div>

            {# COMMENTS SECTION #}
            <div class="post" id="comments">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                    {{ form_start(comment_form) }}
                    {{ form_widget(comment_form) }}
                    {{ form_end(comment_form) }}
                    <br>
                    <hr>
                    <br>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm">Login to leave a comment</a><br><br><hr>
                {% endif %}
                
                <h4>Comments</h4><br>
                {% if comments | length > 0 %}
                    {% for comment in comments %}
                    <div class="comment">
                        <h6>{{ comment.user.name }}</h6>
                        <p>{{ comment.comment | nl2br }}</p>
                        <small><i>&mdash; {{ comment.dateCreated | date('d/m/Y (H:i)') }}</i></small>              
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="lead">Be the first to comment</p>
                {% endif %}
            </div>
            {# END COMMENTS SECTION #}
        </div>

        {# SIDEBAR #}
        <div class="col-md-4 col-12">
            {% if is_granted('ROLE_ADMIN') and post.getUser().getId() == app.user.id %}
                <div class="post">
                    <h5><b>Admin</b></h5>
                    <hr>
                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn text-dark"><i class="fas fa-cog text-warning"></i> Edit</a><br>
                    <a href="#" data-id="{{ post.id }}" class="btn text-dark btn-delete"><i class="fas fa-trash-alt text-danger"></i> Delete</a>
                    <hr>
                    <p class="lead">&nbsp;&nbsp;{{ post.viewCount }} Views</p>
                    <p class="lead">&nbsp;&nbsp;{{ post.comments | length }} Comments</p>
                    <hr>
                    <p class="lead">&nbsp;&nbsp;{{ app.user.posts | length }} Post(s)</p>
                </div>
            {% endif %}

            {% if posts %}
            <div class="post">
                <h5><b>Latest Posts</b></h5>
                <hr>
                <ul class="list-unstyled">
                    {% for p in posts %}
                    <li class="mb-3">
                        <a href="{{ path('post_single', {'id': p.id}) }}">
                            {{ p.title }} <br><small><i>{{ p.dateCreated | date('d/m/Y') }}</i></small>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {# END SIDEBAR #}

    </div>
{% endblock %}