<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin{% endblock %} | Blog.com</title>
    {{ include('inc/link.html.twig') }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <div class="body">
            <div class="sidebar">
                <br>
                <ul class="list-unstyled m-0">
                    <li>
                        <a href="/" class="sidebar-item"><i class="fas fa-link"></i> Visit Site</a>
                    </li>
                    <li>
                        <a href="{{ path('admin') }}" class="{% if current == 'admin' %}active{% endif %} sidebar-item"><i class="fas fa-home"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_posts') }}" class="{% if current == 'posts' %}active{% endif %} sidebar-item"><i
                                class="fas fa-font"></i> Posts</a>
                    </li>
                    <li>
                        <a href="{{ path('category_add') }}" class="{% if current == 'category' %}active{% endif %} sidebar-item"><i
                                class="fas fa-tag"></i> Categories</a>
                    </li>
                    <li>
                        <a href="{{ path('comments') }}" class="{% if current == 'comments' %}active{% endif %} sidebar-item"><i class="fas fa-comment"></i> Comments</a>
                    </li>
                    <li>
                        <a href="{{ path('users') }}" class="{% if current == 'users' %}active{% endif %} sidebar-item"><i class="fas fa-user"></i> Users</a>
                    </li>
                    <li>
                        <a href="#" class="sidebar-item"><i class="fas fa-sliders-h"></i> Settings</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}" class="sidebar-item"><i class="fas fa-power-off"></i> Logout</a>
                    </li>
                </ul>
            </div>
            <div style="width: 100%">
                <div class="row align-items-center info-bar">
                    {#<div class="row">#} 
                        <div class="col-md-12 text-right">
                            Hello, {{ app.user.name }}
                        </div>
                    {#</div>#}
                </div>
                <div class="container-fluid" style="padding: 20px">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <br><br>
    </div>
    </div>

    {{ include('inc/script.html.twig') }}
    {% block javascripts %}{% endblock %}
</body>

</html>