<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin{% endblock %} | Blog.com</title>
    {{ include('inc/link.html.twig') }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {# <div class="wrapper"> #}
        <div class="body">
            <div class="sidebar">
                <ul class="list-unstyled m-0">
                    <li>
                        <a href="{{ path('admin') }}" class="{% if current == 'admin' %}active{% endif %} sidebar-item"><div class="icon"><i class="fas fa-home"></i></div> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_posts') }}" class="{% if current == 'posts' %}active{% endif %} sidebar-item"><div class="icon"><i
                                class="fas fa-font"></i></div> Posts</a>
                    </li>
                    <li>
                        <a href="{{ path('category_add') }}" class="{% if current == 'category' %}active{% endif %} sidebar-item"><div class="icon"><i
                                class="fas fa-tag"></i></div> Categories</a>
                    </li>
                    <li>
                        <a href="{{ path('comments') }}" class="{% if current == 'comments' %}active{% endif %} sidebar-item"><div class="icon"><i class="fas fa-comment"></i></div> Comments</a>
                    </li>
                    <li>
                        <a href="{{ path('users') }}" class="{% if current == 'users' %}active{% endif %} sidebar-item"><div class="icon"><i class="fas fa-user"></i></div> Users</a>
                    </li>
                    <li>
                        <a href="#" class="{% if current == 'menus' %}active{% endif %} sidebar-item"><div class="icon"><i class="fas fa-ellipsis-h"></i></div> Menus</a>
                    </li>
                    <li>
                        <a href="{{ path('settings') }}" class="{% if current == 'settings' %}active{% endif %} sidebar-item"><div class="icon"><i class="fas fa-cog"></i></div> Settings</a>
                    </li>
                    <hr>
                    <div class="text-center">
                        <small style="opacity: .3">
                            <b>SyBlog v0.1</b>
                            / About
                        </small>
                    </div>
                </ul>
            </div>
            <div style="width: 100%">
                <div class="row align-items-center info-bar">
                    <div class="col-md-6 col-12">
                        <a href="/">{{ base.pageName }}</a>
                    </div>
                    <div class="col-md-6 text-right">
                        {{ app.user.name }} | <a href="{{ path('app_logout') }}" class="text-danger">Logout</a>
                    </div>
                </div>
                <div class="cms container-fluid" style="padding: 20px">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {# </div> #}

    {{ include('inc/script.html.twig') }}
    {% block javascripts %}{% endblock %}
</body>

</html>