			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path('post_list') }}"><b>{{ base.pageName }}</b></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto mr-auto">
							{% for m in menu %}
								<li class="nav-item">
									<a href="{{ path('archive_cat', {'category': m.category.name}) }}" class="nav-link">{{ m.category.name }}</a>
								</li>
							{% endfor %}
						</ul>
						<ul class="navbar-nav">

							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITER') %}
							<li class="nav-item nav-link">
								<div class="dropdown-hover">
									{# <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
									 aria-expanded="false"> #}
										{{ app.user.name }}
									{# </button> #}
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('admin') }}" class="dropdown-item"><i class="fas fa-home"></i> Dashboard</a>
										<div class="divider"></div>
										<a class="dropdown-item" href="{{ path('admin_posts') }}"><i class="fas fa-font"></i> Posts</a>
										<a href="{{ path('category_add') }}" class="dropdown-item"><i class="fas fa-tag"></i> Categories</a>
										<a href="{{ path('comments') }}" class="dropdown-item"><i class="fas fa-comment"></i> Comments</a>
										<a href="{{ path('users') }}" class="dropdown-item"><i class="fas fa-user"></i> Users</a>
										<a href="{{ path('menu') }}" class="dropdown-item"><i class="fas fa-bars"></i> Menu</a>
										<a href="{{ path('settings') }}" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a>
										<div class="divider"></div>
										{% endif %}
										<a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i> Logout</a>
									</div>
								</div>
							</li>
							{% else %}
							<li class="nav-item form-inline">
								<a href="{{ path('app_login') }}" class="nav-link">Login</a>
								or
								<a href="{{ path('register') }}" class="nav-link">Register</a>
							</li>
							{% endif %}

						</ul>
					</div>
				</div>
			</nav>