{% extends 'base.html.twig' %}

{% block title %}Profile | {{ app.user.username }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="post card">
                <h1>{{ app.user.name }}</h1>            
            </div>
            <div class="post card">
                <h5>Your Posts ({{ posts | length }})</h5>
                <br>
                {% if posts | length > 0 %}
                <table class="table table-hover">
                    <thead>
                        <th>Title</th>
                        <th>Clicks</th>
                        <th>Created</th>
                        <th></th>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.viewCount }}</td>
                            <td>{{ post.dateCreated | date('d-m-Y') }}</td>
                            <td>
                                <a href="{{ path('post_single', {'id': post.id}) }}" target="_blank" class="btn"><i class="fas fa-eye text-dark"></i></a>
                                <a href="{{ path('post_edit', {'id': post.id}) }}" target="_blank" class="btn"><i class="fas fa-pen text-warning"></i></a>
                                <a href="#" data-id="{{ post.id }}" class="btn btn-delete"><i class="fas fa-trash-alt text-danger"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="lead">No posts to show</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
