{% extends 'admin.html.twig' %}


{% block body %}
<div class="row">
    <div class="col-md-12 col-12">
        <div class="info-box">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h2>All Users</h2>        
                </div>
                <div class="col-md-6 col-12 text-right">
                    <a href="{{ path('register') }}" class="btn btn-blue"><i class="fas fa-plus"></i> Add New</a>            
                </div>
            </div>
            <br>
            <table class="table table-sm">
                <thead>
                    <th></th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th></th>
                    {# <th>Date Created</th> #}
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td style="width: 100px">{{ loop.index }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                        <th class="text-right">
                            {% if app.user.id == user.id %}
                                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn"><i class="fas fa-cog"></i></a>
                                <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-delete"><i class="fas fa-trash-alt"></i></a>
                            {# {% elseif %} #}
                                {# <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-delete"><i class="fas fa-trash-alt"></i></a> #}
                            {% endif %}
                        </th>
                        {# <td>{{ user.dateCreated | date("d/m/Y") }}</td> #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-inline-block navigation text-center">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}