{% extends 'admin.html.twig' %}


{% block body %}
<div class="row">
    <div class="col-md-12 col-12">
        <div class="info-box">
            <h2>All Users</h2>
            <a href="{{ path('register') }}" class="btn btn-blue"><i class="fas fa-plus"></i> Add New</a>
            <br>
            <br>
            <table class="table">
                <thead>
                    <th></th>
                    <th>Username</th>
                    <th>Name</th>
                    <th></th>
                    {# <th>Date Created</th> #}
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td style="width: 100px">{{ loop.index }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <th class="text-right">
                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                        </th>
                        {# <td>{{ user.dateCreated | date("d/m/Y") }}</td> #}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}